<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="about-img">
          <img src="static/img/feature_importance.png" alt="">
        </div>
      </div>

      <div class="col-lg-5 col-md-6">
        <div class="about-content">.
          <h2>Feature Importance</h2>
          <div class="features">
            <h5>1. Maximum heart rate</h5>
          </div>
          <div class="features">
            <h5>2. ST depression</h5>
          </div>
          <div class="features">
            <h5>3. Serum cholestoral</h5>
          </div>
          <div class="features">
            <h5>4. Number of major vessels</h5>
          </div>
          <div class="features">
            <h5>5. Exercise induced angina.</h5>
          </div>
          <div class="features">
            <h5>6. Resting blood pressure</h5>
          </div>
          <div class="features">
            <h5>7. Gender</h5>
          </div>
          <div class="features">
            <h5>8. Age</h5>
          </div>
          <div class="features">
            <h5>9. Slope of peak exercise</h5>
          </div>
          <div class="features">
            <h5>10. Chest pain</h5>
          </div>
          <div class="features">
            <h5>11. Fasting blood sugar</h5>
          </div>
          <div class="features">
            <h5>12. Resting electrocardiographic</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>