<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="about-img">
          <img src="static/img/feature_importance.png" alt="">
        </div>
      </div>

      <div class="col-lg-5 col-md-6">
        <div class="about-content">.
          <h2>Feature Importance</h2>
          <div class="features wow bounceInUp clearfix">
            <h4><i class="ion-android-checkmark-circle"></i> maxhr</h4>
            <p>Maximum heart rate achieved.</p>
          </div>
          <div class="features wow bounceInUp clearfix">
            <h4><i class="ion-android-checkmark-circle"></i> oldpeak</h4>
            <p>ST depression induced by exercise relative to rest.</p>
          </div>
          <div class="features wow bounceInUp clearfix">
            <h4><i class="ion-android-checkmark-circle"></i> chol</h4>
            <p>Serum cholestoral in mg/dl.</p>
          </div>
          <div class="features wow bounceInUp clearfix">
            <h4><i class="ion-android-checkmark-circle"></i> ca</h4>
            <p>Number of major vessels (0-3) colored by flourosopy.</p>
          </div>
          <div class="features wow bounceInUp clearfix">
            <h4><i class="ion-android-checkmark-circle"></i> exang</h4>
            <p>Exercise induced angina.</p>
          </div>
          <div class="features wow bounceInUp clearfix">
            <h4><i class="ion-android-checkmark-circle"></i> restbps</h4>
            <p>Resting blood pressure (in mm Hg on admission to the hospital).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>