<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>COMP9321 Project</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

	{% include 'snippets/css.html' %}

	<title></title>
</head>
{% block content %}{% endblock content %}
</html>