<section id="intro" class="clearfix">
  <div class="container d-flex h-100">
    <div class="row align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h2>COMP9312 Project<br><span>Heart Disease</span></h2>
        <div>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
              </div>
          </div> 
          <div class="col-md-6 intro-img order-md-last order-first">
              <img src="static/img/thalassemia.png" alt="" class="img-fluid">
          </div>
        </div>
    </div>
</section>