<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h3>Team</h3>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 wow fadeInUp">
        <div class="member">
          <img src="static/img/avatar_placeholder.png" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Rafael Barreto Sotomayor</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="member">
          <img src="static/img/avatar_placeholder.png" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Tianyang Qiao</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="member">
          <img src="static/img/avatar_placeholder.png" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Thanh Tuan Do</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="member">
          <img src="static/img/avatar_placeholder.png" class="img-fluid" alt="">
          <div class="member-info">
            <div class="member-info-content">
              <h4>Semisi Taufa</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>