<section id="visual">
  <div class="container">
    <header class="section-header">
      <h3>Visualization</h3>
      <!-- p>This is where all the plots will show.</p -->
    </header>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <img src="static/img/hist_age_thal.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6">
        <img src="static/img/line_plot_age_gender.png" class="img-fluid" alt="">
      </div>      
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <img src="static/img/stacked_bar_thal_gender_norm.png" class="img-fluid" alt="">
      </div>      
      <div class="col-lg-6">
        <img src="static/img/stacked_bar_gender.png" class="img-fluid" alt="">
      </div>
    </div>
    <!--div class="row justify-content-center">
      <h4>Features with continuous values</h4>
      <div class="col-lg-12">
        <img src="static/img/features_scatter_matrix.png" class="img-fluid" alt="">
      </div>
    </div-->
    <br><br>
    <center><h4>Chest Pain Type</h4></center>
    <center><p>1: Typical angina, 2: Atypical angina, 3: Non-anginal pain, 4: Asymptomatic</p></center>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img src="static/img/stacked_bar_thal_gender_norm.png" class="img-fluid" alt="">
      </div>      
      <div class="col-lg-4">
        <img src="static/img/stacked_bar_gender.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-4">
        <img src="static/img/line_plot_age_gender.png" class="img-fluid" alt="">
      </div>
    </div>

    <br><br>
    <center><h4>Fasting Blood Sugar</h4></center>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img src="static/img/stacked_bar_fbs_gender.png" class="img-fluid" alt="">
      </div>      
      <div class="col-lg-4">
        <img src="static/img/bar_graph_fbs.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-4">
        <img src="static/img/line_plot_fbs_age.png" class="img-fluid" alt="">
      </div>
    </div>

    <br><br>
    <center><h4>Resting Electrocardiographic Results</h4></center>
    <center><p>0: Normal, 1: ST-T wave abnormality, 2: Showing probable</p></center>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img src="static/img/stacked_bar_restecg_gender.png" class="img-fluid" alt="">
      </div>      
      <div class="col-lg-4">
        <img src="static/img/bar_graph_restecg.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-4">
        <img src="static/img/line_plot_fbs_age.png" class="img-fluid" alt="">
      </div>
    </div>

    <br><br>
    <center><h4>Exercise Induced Angina</h4></center>
    <center><p>0: No, 1: Yes</p></center>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img src="static/img/stacked_bar_exang_gender.png" class="img-fluid" alt="">
      </div>      
      <div class="col-lg-4">
        <img src="static/img/bar_graph_exang.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-4">
        <img src="static/img/line_plot_exang_age.png" class="img-fluid" alt="">
      </div>
    </div>

    <br><br>
    <center><h4>Slope of Peak Exercise ST Segment</h4></center>
    <center><p>1: upsloping, 2: Flat, 3: Downsloping</p></center>
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <img src="static/img/stacked_bar_slope_gender.png" class="img-fluid" alt="">
      </div>      
      <div class="col-lg-4">
        <img src="static/img/bar_graph_slope.png" class="img-fluid" alt="">
      </div>
      <div class="col-lg-4">
        <img src="static/img/line_plot_slope_age.png" class="img-fluid" alt="">
      </div>
    </div>

  </div>
</section>